
.collection-panel-content-group{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0rem;
}

.collection-panel-content {
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.collection-panel-link {
    margin: 0rem 0rem;
    text-align: start;
    border: none;
    background-color: var(--secondary-color);
}

.collection-panel-link:hover {
    color: var(--dark-color);
}
