.profile-container {
    background-color: var(--secondary-color);
    padding-top: 5rem;
}

.profile-inner-container {
    background-color: var(--background-color);
    padding: 0rem 2rem 2rem 2rem;
}

.profile-inner-container > h1{
    transform: translateY(-50%);
}

.profile-input {
    display: flex;
    align-items: flex-start;
    margin: 0.6rem 0rem;
}

.profile-input > .global-icons {
    margin-left: auto;
    font-size : 0.9rem;
}

.profile-input > div {
    width: 50%;
}

.profile-input.profile-input-dim {
    border-bottom: 0.1rem solid var(--light-color);
}


.profile-input.profile-input-dim > .global-icons {
    color: var(--light-color);
}

.profile-input > input {
    border: none;
    background-color: var(--background-color);
    height: 1.5rem;
    flex-grow: 0.8;
}

:is(.profile-input > input:hover, .profile-input > input:focus){
    outline: none;
}

.profile-input > input::-webkit-input-placeholder{
    font-size: 0.75rem;
    color: var(--light-color);
}

.profile-inner-container > button {
    margin: 2rem 0rem;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.15rem 0rem rgb(125,125,125);
}