.carousel_top {
	position: relative;
    overflow: hidden;
}

.carousel_inner {
	height: 100%;
    width: 100%;
    display: flex;
    transition: transform 1s ease-in;
    transform : translateX(0%);
}

.carousel_left {
	height: 100%;
	width: 3rem;
	position: absolute;
	top: 0;
	left: 0;
    display: grid;
    place-items: center;
	z-index: 100;
}

.carousel_left:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.carousel_right	{
	height: 100%;
	width: 3rem;
	position: absolute;
	top: 0;
	right: 0;
    display: grid;
    place-items: center;
	z-index: 100;
}

.carousel_right:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.carousel_bottom {
	height: 1rem;
	width: 100%;
	text-align: center;

}

.carousel_bottom_dots {
	height: 0.4rem;
	width: 0.4rem;
	border-radius: 50%;
	background-color: var(--light-color);
	display: inline-block;
	margin: 0.2rem;
}

.carousel_arrow {
    color: white;
    transform: scale(1.2);
}

.carousel_item {
    width: 100%;
    height: 100%;
}

.carousel_image {
    height: 100%;
}


