.carousel_top {
	position: relative;
    overflow: hidden;
}

.carousel_inner {
	height: 100%;
    width: 100%;
    display: flex;
    transition: transform 1s ease-in;
    transform : translateX(0%);
}

.carousel_left {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    display: grid;
    place-items: center;
	z-index: 100;
	padding: 0rem 1rem;
}


.carousel_right	{
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
    display: grid;
    place-items: center;
	z-index: 100;
	padding: 0rem 1rem;
}


.carousel_bottom {
	width: 100%;
	text-align: center;
	padding: 1rem 0rem;

}

.carousel_bottom_dots {
	height: 0.4rem;
	width: 0.4rem;
	border-radius: 50%;
	background-color: var(--light-color);
	display: inline-block;
	margin: 0.2rem;
}

.carousel_arrow {
    color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel_item {
    width: 100%;
    height: 100%;
}

.carousel_image {
    height: 100%;
}


