
.collectionpanelcontentgroup{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0rem;
}

.collectionpanelcontent {
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.collectionpanellink {
    margin: 0rem 0rem;
    text-align: start;
    border: none;
    background-color: var(--secondary-color);
}

.collectionpanellink:hover {
    color: var(--dark-color);
}
