.footer {
    width: 100%;
    height: 5rem;
}

.footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footergriditem {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.footergriditem > button {
    border: none;
    cursor: pointer;
    background-color: var(--background-color);
    padding: 0.4rem;
}