* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;800&display=swap');

:root {
  --background-color: rgb(232, 230, 213);
  --secondary-color: rgb(206, 202, 174);
  --dark-color: rgb(81, 80, 74);
  --light-color: rgb(121, 120, 114);
  --text-light-color: rgb(253, 246, 214);
  --icon-size: 1rem;
  --navbar-height: 5.5rem;
}
