.navbar {
  padding: 0.75rem;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--background-color);
  position: sticky;
  z-index: 500;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .topbar {
    display: flex;
    position: relative;
    align-items: center;
  }
}

.navcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 200;
}

.navdrawer {
  width: 60%;
  height: calc(100% - var(--navbar-height));
  margin-top: var(--navbar-height);
  background-color: var(--secondary-color);
  padding: 1rem;
  overflow-y: scroll;
}

.navcollectionheader {
  width: 100%;
  padding: 0.2rem 0.6rem;
  background-color: var(--dark-color);
}

.navfooter {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem;
}

.globalicons {
  color: var(--dark-color);
  font-size: var(--icon-size);
  cursor: pointer;
}

.badge {
  margin: 0px calc(var(--icon-size) / 3);
  font-size: var(--icon-size);
}
